<div class="main-content">
  <div class="row">
    <div class="col-lg-8 col-md-12">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="card">
            <div class="card-body">
              <h5>Booking NO</h5>
              90800247871
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="card">
            <div class="card-body">
                <h5>Vessel Voyage</h5>
                PANEL VESSEL 1222-014N
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="card">
            <div class="card-body">
              <h5>Basic Information</h5>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <th></th>
                    <th class="text-center">CHECK POINT</th>
                    <th class="text-center">ESTIMATED ARRIVAL DATE</th>
                    <th class="text-center">ESTIMATED DEPARTURE DATA</th>
                    <th class="text-center">ESTIMATED ON BOARD DATA</th>
                    <th class="text-center">NOTICE</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>PORT OF LOADING</td>
                      <td class="text-center">PENANG (MY)</td>
                      <td class="text-center">05/11/2018</td>
                      <td class="text-center">06/11/2018</td>
                      <td class="text-center">06/11/2018</td>
                      <td class="text-center">-</td>
                    </tr>
                    <tr>
                      <td>PORT OF TRANSGIPMENT</td>
                      <td class="text-center">PENANG (MY)</td>
                      <td class="text-center">05/11/2018</td>
                      <td class="text-center">06/11/2018</td>
                      <td class="text-center">06/11/2018</td>
                      <td class="text-center">-</td>
                    </tr>
                    <tr>
                      <td>PORT OF DISCHARGE</td>
                      <td class="text-center">PENANG (MY)</td>
                      <td class="text-center">05/11/2018</td>
                      <td class="text-center">06/11/2018</td>
                      <td class="text-center">06/11/2018</td>
                      <td class="text-center">-</td>
                    </tr>
                    <tr>
                      <td>PLACE OF DELIVERY</td>
                      <td class="text-center">PENANG (MY)</td>
                      <td class="text-center">05/11/2018</td>
                      <td class="text-center">06/11/2018</td>
                      <td class="text-center">06/11/2018</td>
                      <td class="text-center">-</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-3 text-center">
                  <h4>FREE TIME (Days)</h4>
                  <p>14</p>
                </div>
                <div class="col-lg-3 col-md-3 text-center">
                  <h4>SHIPMENT STATUS</h4>
                  <p>PORT OF LOADING</p>
                </div>
                <div class="col-lg-3 col-md-3 text-center">
                  <h4>CONTAINER</h4>
                  <p>40'HC UPGRADE</p>
                </div>
                <div class="col-lg-3 col-md-3 text-center">
                  <h4>VOLUME</h4>
                  <p>10</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="card">
              <div class="card-body">
                <h5>DESTINATION</h5>
                OSAKA (JP)
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="card">
              <div class="card-body">
                  <h5>PAYMENT TERM</h5>
                  L/C AT SIGHT
                </div>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="card">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <th class="text-center">PURCHASE ORDER</th>
                      <th class="text-center">DOCUMENT STATUS</th>
                      <th class="text-center">STATUS DATE</th>
                      <th class="text-center">PROCESSING</th>
                      <th class="text-center">PLAN DATE</th>
                      <th class="text-center">PAYMENT STATUS</th>
                      <th class="text-center">SALES DOCUMENT</th>
                      <th class="text-center">INVOICE</th>
                      <th class="text-center">COURIER NUMBER</th>
                      <th class="text-center">COURIER LINK</th>
                    </thead>
                    <tbody>
                      <tr>
                        <th class="text-center">6011001374</th>
                        <th class="text-center">COMPLETED</th>
                        <th class="text-center">08/11/2018</th>
                        <th class="text-center">-</th>
                        <th class="text-center">-</th>
                        <th class="text-center">รับเงินโอนแล้ว</th>
                        <th class="text-center">6011001457C</th>
                        <th class="text-center">PNP1SHM18110002</th>
                        <th class="text-center">CJB69767073</th>
                        <th class="text-center">https://www.courierpost.co.nz/track/track-and-trace</th>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 text-center">
                    <h4>NON-NEGO</h4>
                    <p>SENT BY E-MAIL</p>
                  </div>
                  <div class="col-lg-4 col-md-6 text-center">
                    <h4>DATETIME</h4>
                    <p>08/11/2018 14:30 PM</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="card card-timeline card-plain">
        <div class="card-body">
          <ul class="timeline timeline-simple">
            <li class="timeline-inverted">
              <div class="timeline-badge success">
                <i class="nc-icon nc-shop"></i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <span class="badge badge-pill badge-success">PNP FACTORY</span>
                </div>
                <div class="timeline-body">
                  <p>Description...</p>
                </div>
                <hr>
                <div class="row text-center">
                  <div class="col-lg-6 col-md-6 col-6 ml-auto">
                    <h5>Plan
                      <br>
                      <small>04/11/2018</small>
                    </h5>
                  </div>
                  <div class="col-lg-6 col-md-6 col-6 ml-auto">
                    <h5>Actual
                      <br>
                      <small class="text-success">04/11/2018</small>
                    </h5>
                  </div>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge success">
                <i class="nc-icon nc-shop"></i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <span class="badge badge-pill badge-success">MALAYSIA BORDER</span>
                </div>
                <div class="timeline-body">
                  <p>Description...</p>
                </div>
                <hr>
                <div class="row text-center">
                  <div class="col-lg-6 col-md-6 col-6 ml-auto">
                    <h5>Plan
                      <br>
                      <small>21/11/2018</small>
                    </h5>
                  </div>
                  <div class="col-lg-6 col-md-6 col-6 ml-auto">
                    <h5>Actual
                      <br>
                      <small class="text-success">22/11/2018</small>
                    </h5>
                  </div>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge default">
                <i class="nc-icon nc-shop"></i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <span class="badge badge-pill badge-default">PORT OF LOADING (PENANG)</span>
                </div>
                <div class="timeline-body">
                  <p>Description...</p>
                </div>
                <hr>
                <div class="row text-center">
                  <div class="col-lg-6 col-md-6 col-6 ml-auto">
                    <h5>Plan
                      <br>
                      <small>05/12/2018</small>
                    </h5>
                  </div>
                  <div class="col-lg-6 col-md-6 col-6 ml-auto">
                    <h5>Actual
                      <br>
                      <small class="text-success"></small>
                    </h5>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
