<div class="container">
  <div class="col-lg-4 col-md-6 ml-auto mr-auto">
    <form class="form" method="" action="">
      <div class="card card-login">
        <div class="card-header ">
          <div class="card-header ">
            <h3 class="header text-center">Login</h3>
          </div>
        </div>
        <div class="card-body ">
          <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="nc-icon nc-single-02"></i>
              </span>
            </div>
            <input type="text" class="form-control" placeholder="First Name..." (focus)="focus=true" (blur)="focus=false">
          </div>
          <div class="input-group"  [ngClass]="{'input-group-focus':focus1===true}">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="nc-icon nc-key-25"></i>
              </span>
            </div>
            <input type="password" placeholder="Password" class="form-control" (focus)="focus1=true" (blur)="focus1=false">
          </div>
          <br/>
          <div class="form-group">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" checked="">
                <span class="form-check-sign"></span>
                Remember me
              </label>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <a [routerLink]="['/c/dashboard']" class="btn btn-warning btn-round btn-block mb-3">Sign in</a>
        </div>
      </div>
    </form>
  </div>
</div>