<div class="main-content">
  <div class="row">
    <div class="col-lg-4 col-md-12">
      <div class="card">
        <div class="card-body">
          <h5>Car Registration</h5>
          70-5530
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-6 text-center">
      <!-- <agm-map [latitude]="lat" [longitude]="lng">
        <agm-direction [origin]="origin" [destination]="destination">
        </agm-direction>
      </agm-map> -->
      <img src="./assets/img/jlgnb.png" style="width: 80%;">
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6">
      <div class="card card-timeline card-plain">
        <div class="card-body">
          <ul class="timeline timeline-simple">
            <li class="timeline-inverted">
              <div class="timeline-badge success">
                <i class="nc-icon nc-shop"></i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <span class="badge badge-pill badge-success">PNP FACTORY</span>
                </div>
                <div class="timeline-body">
                  <p>Description...</p>
                </div>
                <hr>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-xs-6 ml-auto">
                    <h5>Plan date</h5>
                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-6 ml-auto">
                    <h5><small>04/11/2018</small></h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-xs-6 ml-auto">
                    <h5>Actual date</h5>
                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-6 ml-auto">
                      <h5><small class="text-success">04/11/2018</small></h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-xs-6 ml-auto">
                    <h5>Arrival Time</h5>
                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-6 ml-auto">
                    <h5><small>09:30</small></h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-xs-6 ml-auto">
                    <h5>Departure Time</h5>
                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-6 ml-auto">
                    <h5><small>11:31</small></h5>
                  </div>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge success">
                <i class="nc-icon nc-shop"></i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <span class="badge badge-pill badge-success">SAMUT SAKHON FACTORY</span>
                </div>
                <div class="timeline-body">
                  <p>Description...</p>
                </div>
                <hr>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-xs-6 ml-auto">
                    <h5>Plan date</h5>
                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-6 ml-auto">
                    <h5><small>06/11/2018</small></h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-xs-6 ml-auto">
                    <h5>Actual date</h5>
                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-6 ml-auto">
                      <h5><small class="text-success">06/11/2018</small></h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-xs-6 ml-auto">
                    <h5>Arrival Time</h5>
                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-6 ml-auto">
                    <h5><small>04:12</small></h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-xs-6 ml-auto">
                    <h5>Departure Time</h5>
                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-6 ml-auto">
                    <h5><small>05:50</small></h5>
                  </div>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge default">
                <i class="nc-icon nc-shop"></i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <span class="badge badge-pill badge-default">DESTINATION (BANGPHLI)</span>
                </div>
                <div class="timeline-body">
                  <p>Description...</p>
                </div>
                <hr>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-xs-6 ml-auto">
                    <h5>Plan date</h5>
                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-6 ml-auto">
                    <h5><small>06/11/2018</small></h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-xs-6 ml-auto">
                    <h5>Actual date</h5>
                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-6 ml-auto">
                      <h5><small class="text-success"></small></h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-xs-6 ml-auto">
                    <h5>Arrival Time</h5>
                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-6 ml-auto">
                    <h5><small>11:10</small></h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-xs-6 ml-auto">
                    <h5>Departure Time</h5>
                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-6 ml-auto">
                    <h5><small></small></h5>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
