<div class="main-content">
  <div class="row">
    <div class="col-lg-4 col-sm-6">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">Shipment Status</h5>
        </div>
        <div class="card-body ">
          <canvas id="chartShipment" class="ct-chart ct-perfect-fourth" width="456" height="300"></canvas>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="card ">
          <div class="card-header ">
            <h5 class="card-title">Document Status</h5>
          </div>
          <div class="card-body ">
            <canvas id="chartDocument" class="ct-chart ct-perfect-fourth" width="456" height="300"></canvas>
          </div>
        </div>
      </div>
    <div class="col-lg-4 col-sm-12">
      <div class="card card-stats">
        <div class="card-body ">
          <!-- <div class="table-responsive"> -->
            <table class="table">
              <thead>
                <th>Status</th>
                <th class="text-center">Process</th>
                <th class="text-center">Complete</th>
              </thead>
              <tbody>
                <tr>
                  <td>Shipment</td>
                  <td class="text-center">4</td>
                  <td class="text-center">0</td>
                </tr>
                <tr>
                  <td>Document</td>
                  <td class="text-center">2</td>
                  <td class="text-center">2</td>
                </tr>
                <tr>
                  <td>Total</td>
                  <td class="text-center" colspan="2"><b>4</b></td>
                </tr>
              </tbody>
            </table>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Car Registration List</h4>
            </div>
              <div class="card-body">
                <div class="toolbar">
                      <!--        Here you can write extra buttons/actions for the toolbar              -->
                  </div>
                    <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                      <thead>
                          <tr>
                            <th *ngFor="let header of bookingData.headerRow">{{ header }}</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let row of bookingData.dataRows" (click)="linkTo(row)" style="cursor: pointer">
                              <td *ngFor="let val of row">{{ val }}</td>
                          </tr>
                      </tbody>
                    </table>
              </div>
              <!-- end content-->
          </div>
      </div>
    </div>
  </div>
</div>
